.name {
  font-size: 20px;
  font-weight: 500;
}

.meta {
  color: #757575;
  margin: 8px 0;
}

.price {
  font-size: 28px;
  font-weight: 600;
  color: #ee4d2d;
  background: #fafafa;
  padding: 12px;
}
