@use "../../../styles/abstracts/variables" as v;

.productList {
  width: 100%;
  background: #fff;
  padding: 16px;
  border-radius: v.$border-radius;
}

.title {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 16px;
}
