.otpContainer {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 20px 0;
}

.otpInput {
  width: 42px;
  height: 48px;
  text-align: center;
  font-size: 20px;
  border-radius: 8px;
}
