.container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.header {
  text-align: center;
}

.otp {
  justify-content: center;

  :global(.ant-input) {
    width: 44px;
    height: 52px;
    font-size: 22px;
    border-radius: 10px;
  }
}
