.title {
  text-align: center;
}

.otpContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  gap: 10px;
}

.otpInput {
  width: 42px;
  height: 48px;
  font-size: 22px;
  text-align: center;
  border: 1px solid #d9d9d9;
  border-radius: 8px;
  transition: all 0.2s;

  &:focus {
    border-color: #1677ff;
    box-shadow: 0 0 3px rgba(22, 119, 255, 0.6);
    outline: none;
  }
}
