.wrapper {
  background: #f5f5f5;
  padding: 24px 0;
}

.main {
  // max-width: 1200px;
  margin: auto;
  background: #fff;
  display: grid;
  grid-template-columns: 450px 1fr;
  gap: 32px;
  padding: 24px;
}

.right {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
