.container {
  min-height: 100vh;
  background: #f6f7fb;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.card {
  width: 500px;
  padding: 24px 30px 34px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.07);
  border-radius: 12px;
  background: #fff;
}

.title {
  text-align: center;
  margin-bottom: 20px;
  font-weight: 600;
}

.footer {
  margin-top: 20px;
  text-align: center;

  a {
    color: #1677ff;
    font-weight: 500;

    &:hover {
      text-decoration: underline;
    }
  }
}
