@use "../../../../styles/abstracts/variables" as v;
@use "../../../../styles/abstracts/mixin" as m;

.header {
  @include m.flex-center;
  background: v.$primary-color;
  height: 100px;
  padding: 30px 60px;
  justify-content: space-between;
}

.logo {
  color: #fff;
  font-size: 22px;
  font-weight: 600;
  margin-right: 24px;
}

.logo img {
  width: 200px;
  height: 200px;
}

.search {
  flex: 1;
  max-width: 600px;
}

.actions {
  display: flex;
  align-items: end;
  gap: 20px;
}

.icon {
  font-size: 22px;
  color: #fff;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}

.authLink {
  color: #fff;
  font-size: 16px;

  &:hover {
    color: #3f3f3f;
  }
}
