.header {
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  padding: 0 20px;
  border-bottom: 1px solid #eee;
}

.user {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
