.btnAdd {
  text-align: end;
  margin-bottom: 10px;
}

.container {
  display: flex;
  gap: 12;
  justify-content: space-between;
  margin-bottom: 16px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
