.loadingWrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #fafafa;
  gap: 15px;

  .text {
    font-size: 16px;
    font-weight: 500;
  }
}
