.filterWrapper {
  padding: 24px 16px;
  border-radius: 6px;
  // box-shadow: 0 2px 8px rgb(0 0 0 / 0.1);
  max-width: 280px; /* giới hạn chiều rộng */
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #222;
}

.filterHeader {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  gap: 8px;
  color: #111;
}

.filterGroup {
  margin-bottom: 24px;
  padding-bottom: 16px;
  border-bottom: 1px solid #eee;
}

.groupTitle {
  font-weight: 600;
  font-size: 15px;
  margin-bottom: 12px;
  color: #444;
}

.ant-checkbox-wrapper {
  display: block;
  margin-bottom: 8px;
  font-size: 14px;
  color: #555;
  cursor: pointer;
}

.showMore {
  font-size: 13px;
  color: #888;
  cursor: pointer;
  user-select: none;
  margin-top: 6px;
  transition: color 0.3s;
}
.showMore:hover {
  color: #1890ff;
}
