.sider {
  background: #001529;
}

.logo {
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 18px;
  font-weight: 600;
  color: #fa541c;

  border-bottom: 1px solid rgba(255, 255, 255, 0.12);
}
