.container {
  height: 100vh;
}

.sidebar {
  background: #fff;
  padding-top: 20px;
  border-right: 1px solid #eee;
}

.main {
  display: flex;
  flex-direction: column;
}

.contentWrapper {
  padding: 20px;
  background: #f5f5f5;
  min-height: calc(100vh - 64px);
}

.content {
  margin-top: 10px;
  padding: 20px;
  background: #fff;
  border-radius: 6px;
  min-height: 600px;
}
